#gameTable{
    width: 800px;
    text-align:center;
}
#head th{
text-align:center;    
}
#gameLine{
    color:darkgrey;
}
#weekSelectDiv{
    text-align: right;
    margin: 20px 50px 20px 0px;
}
button:hover{
    cursor:pointer;
}
#gameHomeTeam button{
    width: 200px;
}
#gameAwayTeam button{
    width: 200px;
}

#SubmitPicks button {
	background-color: red;
	margin-top: 15px;
	margin-left: 66%;
}

#SubmitPicks button:hover {
    background-color: #bc0d0d;
}
