#gameTable{
	width: 800px;
	text-align:center;
}
#head th{
text-align:center;	
}
#gameLine{
	color:darkgrey;
}
#weekSelectDiv{
	text-align: right;
	margin: 20px 50px 20px 0px;
}
button:hover{
	cursor:pointer;
}
#gameHomeTeam button{
	width: 150px;
}
#gameAwayTeam button{
	width: 150px;
}
