#head th {
	text-align: center;
}
td{
	text-align:left;
}
#brandLogo{
	font-family: 'Montserrat Subrayada', sans-serif;
	font-size: 50px;
}
body{
	background-color:#157EFB;
	/* background-image: url('https://fthmb.tqn.com/OY0GrqIaxUwokki5-ebX6P1Mpnc=/768x0/filters:no_upscale()/GettyImages-157435789-58402aec3df78c0230d2d44f.jpg');
	background-size: cover;
	background-repeat: no-repeat; */
}
#bgdiv{
	background-image: url('https://fthmb.tqn.com/OY0GrqIaxUwokki5-ebX6P1Mpnc=/768x0/filters:no_upscale()/GettyImages-157435789-58402aec3df78c0230d2d44f.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 700px;
}
#gameLine {
	color: darkgrey;
}

button:hover {
	cursor: pointer;
}

#SubmitPicks button {
	margin-bottom: 1em;
	width: 98%;
	/* text-align: center;
	margin-left: 30%; 
	margin-top: 20px; */
}

#cancelButton {
	min-width: 4em;
	margin-bottom: 1em;
	margin-right: 2em;
}

#leagueIndexTable:hover{
    cursor:pointer;
    /* background-color: rgba(54, 58, 64, 0.03); */
    box-shadow: 0 0 10px lightblue;
    
}

/* #SubmitPicks button:hover {
    background-color: #bc0d0d;
} */
.innerContainer{

	width: 80%;
	margin: auto;
	margin-top: 15px;
	padding: 2%;
	background-color: rgba(170, 170, 170, .8);
	text-align:center;
}
#joinButton{
	width: 90%;
}

.innerContainer button {
	margin: auto;
	width: 35%;
}
.newInputs{
	width: 90%;
}

#newLeagueFormDiv {
	text-align: center;
	width: 60%;
	margin: auto;
	margin-top: 15px;
	padding: 2%;
	background-color: rgba(170, 170, 170, .8);
}

#newLeagueFormDiv button {
	width: 90%;
	margin-top: 5px;
	margin-bottom: 5px;
}
#gameHomeTeam button{
	width: 100%;
}
#gameAwayTeam button{
	width: 100%;
}

#registerLink {
	font-size: 22px;
	text-align: center;
	font-weight: bold;
}

#registerLink:hover {
	text-decoration: none;
}

@media ( max-width : 576px) {
	#gameHomeTeam, #gameAwayTeam {
		padding: .35rem;
	}
}