<div class="container-fluid">
	<table id="gameTable">
		<thead>
			<tr id="head">
				<th>HOME</th>
				<th>Line</th>
				<th>AWAY</th>
				<th>O/U</th>
			</tr>
		</thead>
		<tr ng-repeat="game in vm.games">

			<td id="gameHomeTeam" ng-click="vm.selectGame(game, 'home')"><button
					ng-class="(vm.selectedArr.indexOf(game.home) >= 0) ? 'btn btn-success' : 'btn-primary'">{{game.home.city}}
					{{game.home.name}}</button></td>
			<td id="gameLine">OFF</td>
			<td id="gameAwayTeam" ng-click="vm.selectGame(game, 'away')"><button
					ng-class="(vm.selectedArr.indexOf(game.away) >= 0) ? 'btn btn-success' : 'btn-primary'">{{game.away.city}}
					{{game.away.name}}</button></td>
			<td id="gameTotal">----</td>

		</tr>
	</table>
	<div id="SubmitPicks">
		<button class="btn btn-danger" ng-click="vm.convertPicksToJson()">Save
			Picks</button>
	</div>

	<!-- **************** only show while waiting for server response *************************** -->
    <div id="loading" ng-show="vm.loading > 0">
    		<p class="display-3 text-center lead">Loading</p>
    		<img class="img-fluid mx-auto d-block" src="./img/catLoader.gif">
	</div>
	
</div>



