<table id="gameTable">
	<thead>
		<tr id="head">
			<th>HOME</th>
			<th>Line</th>
			<th>AWAY</th>
			<th>O/U</th>
		</tr>
	</thead>
	<tr ng-repeat="game in vm.games">

		<td id="gameHomeTeam" ng-click="vm.selectGameHome(game)"><button ng-class="vm.selected.name === game.home.name ? 'btn btn-success' : 'btn-primary'">{{game.home.city}}
				{{game.home.name}}</button></td>
		<td id="gameLine">OFF</td>
		<td id="gameAwayTeam" ng-click="vm.selectGameAway(game)"><button ng-class="vm.selected.name === game.away.name ? 'btn btn-success' : 'btn-primary'">{{game.away.city}}
				{{game.away.name}}</button></td>
		<td id="gameTotal">----</td>

	</tr>
</table>