<table id="gameTable" hng-hide="vm.selected">
    <thead>
    <tr id="head">
        <th>HOME</th>
        <th>Line</th>
        <th>AWAY</th>
        <th>TOTAL</th>
    </tr>
    </thead>
   <tr ng-repeat="game in vm.games">
    
        <td id="gameHomeTeam" ng-click="vm.displayGame(game)">{{game.home.city}} {{game.home.name}}</td>
        <td id="gameLine">OFF</td>
        <td id="gameAwayTeam" ng-click="vm.displayGame(game)">{{game.away.city}} {{game.away.name}}</td>
        <td id="gameTotal">total</td>
        
    </tr>
</table>