<div class="container">
	<!-- Show all leagues -->
	
	{{"Leagues page"}}
	<div ng-hide="vm.selected">
		<ul ng-repeat="league in vm.leagues">
			<h1 class="display-2">{{league.users[0].fName}}</h1>
			<table class="table table-striped table-hover table-responsive" ng-hide="vm.selected">
		        <thead class="thead-inverse">
		            <tr>
		                <th>Player</th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr ng-repeat="user in league.users" >
		                <td>{{user.fName}} {{user.lName}} {{user.id}}</td>
		            </tr>
		        </tbody>
		    </table>
			<li ng-click="vm.setSelected(league.id)">League id:
				{{league.id}}</li>
			<li ng-click="vm.setSelected(league.id)">League name:
				{{league.name}}</li>
			<li ng-click="vm.setSelected(league.id)">League cost:
				{{league.cost}}</li>
		<button class="btn btn-success" ng-click="vm.joinLeague(league.id)">Join {{league.name}}</button>
		</ul>
	</div>
	<!-- show a single league -->
	<div ng-show="vm.selected">
		{{vm.selected.name}}
		<button class="btn btn-danger" ng-click="vm.selected = null">Go back</button>

	<weeks></weeks>
	</div>
	

	<!-- **************** only show while waiting for server response *************************** -->
	<div id="loading" ng-show="vm.loading > 0">
		<p class="display-3 text-center lead">Loading</p>
		<img class="img-fluid mx-auto d-block" src="./img/catLoader.gif">
	</div>

</div>