<div class="container">
	
	<h4>{{vm.user.fName | uppercase}} {{vm.user.lName | uppercase}} <span ng-show="vm.selected" class="float-right">{{vm.selected.name | uppercase}}</span> </h4>
	
	<!-- ****************************** show all league *************************** -->
	<div ng-hide="vm.selected">
		<ul ng-repeat="league in vm.leagues">
			<!-- <h1 class="display-2">{{league.users[0].fName}}</h1> -->
			<table class="table table-striped table-hover table-responsive" ng-hide="vm.selected">
		        <thead class="thead-inverse">
		            <tr>
		                <th>Player</th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr ng-repeat="user in league.users" >
		                <td>{{user.fName}} {{user.lName}} {{user.id}}</td>
		            </tr>
		        </tbody>
		    </table>
			<li ng-click="vm.setSelected(league.id)">League id:
				{{league.id}}</li>
			<li ng-click="vm.setSelected(league.id)">League name:
				{{league.name}}</li>
			<li ng-click="vm.setSelected(league.id)">League cost:
				{{league.cost}}</li>
			<button class="btn btn-success" ng-click="vm.joinLeague(league.id)">Join {{league.name}}</button>
		</ul>
	</div>
	
	
	<!-- ****************************** show a single league *************************** -->
	<div ng-show="vm.selected">
		<button id="cancelButton" class="btn btn-secondary float-right" ng-click="vm.selected = null">Cancel</button>
		<!-- <h3 class="lead">{{vm.selected.name | uppercase}}</h3> -->
		<weeks></weeks>

	</div>
	

	<!-- ****************************** only show while waiting for server response *************************** -->
	<div id="loading" ng-show="vm.loading > 0">
		<p class="display-3 text-center lead">Loading</p>
		<img class="img-fluid mx-auto d-block" src="./img/footballLoader.gif">
	</div>

</div>